/* share buttons */
.share-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
  padding: 16px 15px 0;
  border-top: 1px solid var(--primary-pale-color);

  .share-label {
    color: var(--text-pale-color);
    font-size: 14px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: var(--text-pale-color);
    transition: color 0.2s ease;
    border: none;

    &:hover {
      color: var(--primary-color);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
